
h1{

    color:blueviolet;

}
#tablero{
    width: 400px;
    height: 400px;

    margin: 0 auto;
}

#tablero button{
    width: 31%;
    height: 31%;
    background-color: #DEDEDE;
    border-radius: 0px;
    cursor: pointer;
    transition: all 200ms ease;
}



#fons{
    position: fixed;
    bottom: 0px;
    left:0px;
    background-color: #07D21F;
    width: 100%;
    height: 0%;

}
#pie {
    font-size: 20px;
    margin: 0 auto;
}
#pie p{
    margin-left: 18%;
    color:forestgreen;
}
#restart{
    width: 130px;
    height: 60px;
    font-size: 18px;
    margin-left: 45%;
    margin-top: 19px;
}
#restart:hover{
    box-shadow: 0px 0px 20px rgba(0,0,0,0.5);
    cursor: pointer;
}
#fons h1{
    margin-left: 35%;
    color: black;
}